/* this CSS is not part of the widget, it is here just as an example of the demo page styling.... Don't copy this one, roll your own. One
 * of the key things about the widget is that it allows you to do your own styling!
 */

#mainbar{
    float: left;
    margin-bottom: 40px;
    width: 735px;
}
#sidebar{
    float: right;
}
h1#h-top-question{
    float:left;
}
div#tabs{
    float: right;

}
div#qlist-wrapper{
    margin-top: 15px;
}

