body {   text-align: center;
	vertical-align: center;
	background-color: #0078d8
	}
h1,p ,label{ color: #FFFFFF;}
div.mainwraper{
	position: relative;
	margin-top: 100px;
}
label.title-label{
	text-align: right;
}
div#main{
	position: absolute;
	margin-left: 800px;
}
div#header{
	color: #000000;
	position: absolute;
	margin-left: 150px;
	font-size: 40px;
}
div.formwraper{
	padding-top: 10px;
}
div.formwraper,div.registerwraper{
	padding-top: 10px;
	box-shadow:0 1px 2px rgba(15, 82, 135, 0.25) inset, 0 0 10px rgba(255, 255, 255, 0.3);
	line-height: 10px;
}
.topbar .topbar-wrapper {
    height: 34px;
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 980px;
}
.topbar .topbar-links {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
}

.dropdown-menu a {
  cursor: pointer;
}
.topbar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.86);
    height: 34px;
    line-height: 1;
    width: 100%;
    text-align: left;
}
.topbar .topbar-links .search-container {
    display: inline-block;
    margin-top: 1px;
    vertical-align: top;
}
.topbar .topbar-wrapper .topbar-links .links-container {
    display: inline-block;
    padding-top: 10px;
    vertical-align: top;
}
.topbar .topbar-links .topbar-menu-link {
    display: inline-block;
    font-size: 0;
    margin-left: 15px;
    margin-top: -10px;
    vertical-align: top;
}

.topbar .topbar-wrapper .topbar-links .links-container .top-menu-link a,
.topbar .topbar-wrapper .topbar-links .links-container .top-menu-link a:visited{
    margin-right: 2px;
    color:#e0e0e0;
    display : inline;
    font-size: 15px;
    height: 24px;
    padding: 10px,7px,0;
    text-decoration: none;
    vert-align: top;
    margin-right: 7px;
    margin-right: 7px;
}
.topbar .topbar-links .search-container {
    padding-top: 4px;
    vertical-align: bottom;
}

