.content{
    margin: 0 auto;
    width: 980px;
    min-height: 450px;

}
#mainbar{
    float: left;
    margin-bottom: 40px;
    width: 735px;
}
#sidebar{
    overflow: hidden;
    float: right;
    margin-bottom: 60px;
    width: 220px;
}
#question-header{
    width: 980px;
    margin-bottom: 20px;
    border-bottom: 1px solid #555;
    clear: both;
}
.question{
    clear: both;
    width: 728px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
.votecell{
    width: 60px;
    vertical-align: top;
}