#content{
    margin: 0 auto;
    width: 980px;
    min-height: 450px;
}
#mainbar-full{
    width: 980px;
}
.subheader{
    border-bottom: 1px solid #ccc;
    height: 34px;
    clear: both;
    margin-bottom: 15px;
}
#tabs {
    float: right;

}
#tabs a{
    background: inherit;
    border: 1px solid transparent;
    color: #777;
    display: block;
    float: left;
    font-size: 90%;
    height: 24px;
    line-height: 20px;
    margin: 10px 8px 0 0;
    padding: 0 11px 0 11px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}
#tabs a.youarehere{
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #ffffff;
    color: #000;
    font-size: 120%;
    height: 30px;
    line-height: 29px;
    margin-top: 4px;
    padding: 0 11px 0 11px;
}